// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}

.barb-logo {
    max-width: 168px;
    position: absolute;
    top: -2.25rem;
}

.transition-transform {
    transition-property: transform;
    transition-duration: 0.3s; /* Adjust the duration as needed */
    transition-timing-function: ease-out; /* Adjust the timing function as needed */
}

@media (max-width: 768px) {
    .barb-logo {
        max-width: 108px;
        top: 1.75rem;
    }
}

@media (max-width: 1024px) {
    .barb-logo {
        max-width: 118px;

    }
}

@media (max-width: 1280px) {
    .barb-logo {
        max-width: 150px;
    }
}